body {
  margin: 0;
  min-height: 100vh;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #1f1834;
}

.person {
  height: 80vw;
  background-image: url('./person.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 32px 28px;
  max-width: 360px;
  box-sizing: border-box;
  margin: auto;
}

h1 {
  margin: 0;
  font-family: "avebury-black", sans-serif;
  font-size: 62px;
  font-weight: 900;
  line-height: 0.87;
  text-align: center;
}

h2 {
  margin: 22px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
}

.box {
  border-radius: 2px;
  border: solid 1px #1f1834;
}

.header {
  height: 30px;
  border-radius: 4px;
  background-color: #f4f4f4;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to bottom, #f4f4f4, #dbdbdb);
  border-image-slice: 1;
  padding: 5px 6px;
  display: flex;
  align-items: stretch;
}

.amount {
  outline: none;
  width: 45px;
  border-radius: 3px;
  border: solid 1px #1f1834;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: center;
  color: #1f1834;
  box-sizing: border-box;
  margin-right: 6px;
}

.generate,
.copy {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.generate {
  border: solid 1px #1f1834;
  background: linear-gradient(to bottom, #ff0000, #cc0000);
}

.generate .inner {
  height: 24px;
  background: #ff0000;
  margin: 2px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  border: none;
  width: 96px;
  background-color: #dbdbdb;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 10px;
}

.copy .icon {
  height: 18px;
  width: auto;
  fill: #fff;
}

.output {
  min-height: 200px;
  height: 30vh;
  padding: 10px;
  overflow: auto;
}

.about {
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1f1834;
  margin: 100px 0;
  padding: 0 2px;
}

.disclaimer {
  opacity: 0.6;
  text-align: center;
  color: #1f1834;
}

.desktop {
  display: none;
}

@media (min-width: 1200px) {
  body {
    display: flex;
  }

  .person {
    position: fixed;
    height: 100vh;
    width: 50vw;
  }

  .container {
    margin-left: calc(75vw - 180px);
    padding: 10vh 0;
  }

  .generate {
    width: 160px;
  }

  .desktop {
    display: initial;
  }
};
